{% macro displayNewsList(news_list) %}

  {% for news in  news_list %}
  <div class="container">
      <div class="card">
          <div class="card-body">
            <img src=" {{news.urlToImage}} " alt=""  >
            <p> {{ news.title }} </p>
            <p> {{ news.content }} </p>
            <p> {{ news.description }} </p>
            <p>Author:<cite> {{ news.author }}</cite> </p>
            <p>Published: {{ news.publishedAt | truncate(13) }} </p>
            <a href=" {{news.url}} " class="btn btn-info">Read more</a>
          </div>
      </div>
  </div>
   

  {% endfor %}  
{% endmacro %} 


{% macro displaySourceList(sources_list) %}

  {%  for source in sources_list %}
  <div class="container">
      <div class="jumbotron">
      <div class="card">
        <div class="card-body">
            <h3><strong> {{ source.name }} </strong></h3>
            <p> {{ source.description }} </p>
            <p>New's Category: {{ source.category }} </p>
            <p>Language: {{ source.language }} </p>
            <p>Country: {{ source.country }} </p>
            <a href=" {{source.url}}  " class="btn btn-primary">Visit New's site</a>
        </div>
      </div>
  </div>
  </div>
    

   {% endfor %} 
{% endmacro %}   

{% macro displayCastList(cast_list) %}

  {%  for cast in cast_list %}
    <p> {{ source.name }} </p>
    <p> {{ source.description }} </p>
    <p> {{ source.category }} </p>
    <p> {{ source.language }} </p>
    <p> {{ source.country }} </p>
    <a href=" {{source.url}} "></a>

   {% endfor %} 
{% endmacro %}   



